@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/games?styles=17672,17671");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
  font-family: "Minecrafter.Alt";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Minecrafter.Alt.woff") format("woff");
}

@font-face {
  font-family: "Minecrafter.Reg";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Minecrafter.Reg.woff") format("woff");
}

:root {
  --jazzberry-jam: #635b5f;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.main {
  width: 100vw;
  height: 120vh;
  border: 4px solid rgb(9, 11, 26);
  background: linear-gradient(134deg, rgba(22, 74, 170, 0.205) 5%, rgba(5, 17, 19, 0.65) 50%, rgba(182, 8, 23, 0.315) 95%), url(./Assets/ps4bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 1.5rem;
  width: 100%;
}

h1 {
  margin-right: 60%;
  font-size: 3rem;
  font-family: "Minecrafter.Alt", sans-serif;
}

.neon {
  animation: flicker 1.5s infinite alternate;
  color: #d80246;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px rgb(170, 170, 170), 0 0 11px rgb(170, 170, 170), 0 0 19px rgb(170, 170, 170), 0 0 40px var(--jazzberry-jam), 0 0 80px var(--jazzberry-jam), 0 0 90px var(--jazzberry-jam), 0 0 100px #c04a85, 0 0 150px #c04a85;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.leftSide {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.scoreContainer {
  width: 50%;
  list-style: none;
}

.recentScore {
  display: flex;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 35px;
}

.text {
  width: 20%;
  font-family: "Games", sans-serif;
  transform: scale(1.2);
  color: grey;
  position: absolute;
}

.text::after,
.text::before {
  position: absolute;
  content: "Recent Scores";
  display: block;
  top: 0;
  left: 0;
}

.text::before {
  animation: glitch 0.3s linear 6;
  color: dodgerblue;
  z-index: -2;
}

.text::after {
  animation: glitch 0.3s linear infinite;
  color: #d80246;
  z-index: -2;
}

@keyframes glitch {
  0% {
    top: 0;
    left: 0;
  }

  20% {
    top: -1px;
    left: -2px;
  }

  40% {
    top: 1px;
    left: 2px;
  }

  60% {
    top: -1px;
    left: -2px;
  }

  80% {
    top: 1px;
    left: -2px;
  }

  100% {
    top: 0;
    left: 0;
  }
}

.displayScore {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: 400px;
  border-radius: 15px;
  border: 3.8px solid rgb(43, 41, 41);
  overflow: hidden !important;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0, rgba(42, 102, 212, 0.8) -6px -2px 16px 0;
  position: relative;
}

.displayScore::before {
  content: "";
  background-image: conic-gradient(#ff0052 40deg, transparent 120deg);
  width: 175%;
  height: 500px;
  position: absolute;
  bottom: 20px;
  animation: rotate 2s linear infinite;
}

.displayScore::after {
  content: " ";
  width: 98%;
  height: 400px;
  background: linear-gradient(134deg, rgba(22, 74, 170, 0.205) 5%, rgba(5, 17, 19, 0.65) 50%, rgba(131, 112, 121, 0.5) 95%), url(./Assets/ps4bg.jpg);
  background-size: cover;
  background-blend-mode: darken;
  opacity: 1;
  border: 1px solid grey;
  position: absolute;
  bottom: 8px;
  right: 5.2px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.displayScore li {
  font-size: 1rem;
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  list-style: none;
  z-index: 9999;
}

.displayScore li:nth-child(even) {
  padding: 10px;
  border-radius: 5px;
  color: grey;
  background-color: rgba(181, 179, 177, 0.272);
}

.displayScore li:nth-child(odd) {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(181, 179, 177, 0.272);
  background-color: rgba(250, 247, 243, 0.272);
}

.form {
  display: flex;
  flex-direction: column;
  font-family: "Games", sans-serif;
  gap: 1rem;
  width: 30%;
}

.form h2 {
  margin-bottom: 0;
  color: grey;
}

input {
  height: 2rem;
  width: 98%;
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

button {
  cursor: pointer;
  outline: none;
  width: 50%;
  border-radius: 5px;
  border: none;
  margin-left: 50%;
  padding: 0.75rem;
  color: #dfbfbf;
  background: #326bb0bc;
  text-transform: uppercase;
  font-family: "Games", sans-serif;
  letter-spacing: 2px;
  font-size: small;
  text-align: center;
}
